<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content="#007bff" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#1a1a1a" media="(prefers-color-scheme: dark)" />
    <meta name="title" content="deploy12-11" />
    <meta name="author" content="Leniza Mendes" />

    <meta name="supported-color-schemes" content="light dark" />
    {% include "css.html" %}
    <title>{{titulo}}</title>
</head>

<body>
    {% include "menu.html" %}
    {% block main %}

    {% endblock %}

    {% block script %}
    {% include "script.html" %}
    {% endblock %}

</body>

</html>